body {
    background-color: #111;
    text-align: center;
    margin:5%;
    margin-left:33%;
    margin-right:33%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}


h1{
    font-size: 54pt;
}

p,
span,
h1,
input,
button,
textarea,
.radio {
    color: #7f7f7f;
    font-family: monospace;    
}

span {
    font-size: 32pt;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

p,
input,
button,
textarea {
    font-size: 22pt;
}

.radio {
    background: none;
    border-style: ridge;
    height: 2%;
    display: inline;
}

input,
.borders,
.button,
textarea {
    background: none;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: ridge;
    width: 100%;    
    height: 5%;
}


button {
    background: rgba(100,100,100,.5);
    padding: 2%;
    border-radius: 1em;
    border-style: ridge;
    width: 100%;
}

button:hover{
    background-color: rgba(100,100,100,.8);
}

