body {
    background-color: #111;
    text-align: center;
    margin:5%;
    margin-left:25%;
    margin-right:25%;
}

p,
li,
textarea,
h1,
input {
    color: #7f7f7f;
    font-family: monospace;
    font-size: 22pt;
}

textarea,
input {
    background: none;
    
}

.container {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
}



